<head>
    <h1>{{album.name}}</h1>
    <link rel="stylesheet" href="/styles/gallery.css">

</head>

<p>Photos in this album:</p>

{{#if photos.length}}
<ul>
    {{#each photos}}
        <li><a href="/photo/{{id}}">{{title}}</a></li>
    {{/each}}
</ul>
{{else}}
<p>No photos in this album yet.</p>
{{/if}}

{{#if user}}
  <form action="/album/{{album.id}}/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="photo" required>
    <button type="submit">Upload Photo</button>
  </form>
{{/if}}


<a href="/">Back to Albums</a>

<p>
    Logged in as: {{user.name}} | <a href="/logout">Logout</a>
</p>


