<h1>Album: {{album.name}}</h1>

{{#if photos.length}}
  <ul>
    {{#each photos}}
      <li>
        <h3>{{title}}</h3>
        <img src="/photos/{{filename}}" style="max-width:200px;"><br>
        <p>{{description}}</p>
        <p>Tags: {{#each tags}}{{this}} {{/each}}</p>
        <p>Comments: {{commentCount}}</p>

        {{#if canEdit}}
          <a href="/photo/{{id}}/edit">Edit</a>
        {{/if}}
        | <a href="/photo/{{id}}">View</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No photos in this album yet.</p>
{{/if}}

<p><a href="/">Back to all albums</a></p>
