<!DOCTYPE html>
<html lang="en">
<head>
    <h1>{{album.name}}</h1>
    <link rel="stylesheet" href="/styles/gallery.css">
</head>
<body>
    <h1>Your Albums</h1>
    <ul>
    {{#each albums}}
        <li>
            <strong>{{this.name}}</strong> - {{this.description}}
            <a href="/album/{{this.id}}/upload">Upload Photo</a>
        </li>
    {{/each}}
    </ul>

    <p>
        Logged in as: {{user.name}} | <a href="/logout">Logout</a>
    </p>
</body>
</html>




