<h1>Edit Photo: {{photo.title}}</h1>

<form action="/photo/{{photo.id}}/edit" method="POST">
    <label>Title: <input type="text" name="title" value="{{photo.title}}"></label><br>
    <label>Description: <input type="text" name="description" value="{{photo.description}}"></label><br>

    <label>Visibility:
        <select name="visibility">
            {{each visibility Options}}
                <option value= "{{value}}" {{selected}}>{{value}}</option>
            {{/each}}
        </select>
    </label><br>
    
    <button type="submit">Submit</button>
</form>

<a href="/photo/{{photo.id}}">Cancel</a>