<h1>{{photo.title}}</h1>
<link rel="stylesheet" href="/styles/gallery.css">
<img src="/photos/{{photo.filename}}" style="max-width:400px;"><br>
<p>{{photo.description}}</p>

<p>Visibility: {{photo.visibility}}</p>

{{#if user}}
  <p><a href="/photo/{{photo.id}}/edit">Edit Photo</a></p>
{{/if}}

<h3>Comments {{#if comments}}({{comments.length}}){{/if}}</h3>

{{#if comments}}
  <ul>
    {{#each comments}}
      <li><strong>{{this.username}}</strong>: {{this.text}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>No comments yet.</p>
{{/if}}

{{#if user}}
  <form action="/photo/{{photo.id}}/comment" method="POST" style="margin-top:10px;">
    <textarea name="comment" rows="3" maxlength="500" required></textarea><br>
    <button type="submit">Post Comment</button>
  </form>
{{else}}
  <p><a href="/login">Log in</a> to add a comment.</p>
{{/if}}

{{#if photo.albums.[0]}}
  <a href="/album/{{photo.albums.[0]}}">Back to Album</a>
{{/if}}

