<h1>{{photo.title}}</h1>
<img src="/photos/{{photo.filename}}" style="max-width:400px;"><br>
<p>{{photo.description}}</p>
<p>Visibility: {{photo.visibility}}</p>

<h3>Comments ({{comments.length}})</h3>
<ul>
{{#each comments}}
  <li><strong>{{username}}</strong>: {{text}}</li>
{{/each}}
</ul>

{{#if user}}
<form action="/photo/{{photo.id}}/comment" method="POST">
  <textarea name="comment" required></textarea><br>
  <button type="submit">Post Comment</button>
</form>
{{/if}}

<a href="/album/{{photo.albums.[0]}}">Back to Album</a>
